modules = ["nodejs-20", "docker"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["chromium", "xvfb-run", "playwright-driver"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Test"

[[workflows.workflow]]
name = "Test"
author = 41832294
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn test"

[[ports]]
localPort = 3000
externalPort = 80
