modules = ["nodejs-20", "docker"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["chromium", "xvfb-run", "playwright-driver"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Test"
author = 41832294
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn test --watch"

[[workflows.workflow]]
name = "Dev"
author = 41832294
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"

[[workflows.workflow]]
name = "Lint"
author = 41832294
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn lint"

[[workflows.workflow]]
name = "Coverage"
mode = "sequential"
author = 41832294

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn test:coverage"

[[ports]]
localPort = 3000
externalPort = 80
